# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=langsmith-hyper-granular-agent-trace-querying

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.5
